#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>


// Custom layers
#define DEFAULT 0
#define RKP 1
#define RNAV 2
#define KP 3
#define NAV 4
#define FN 5

// Default Kinesis Advantage 360 Pro layers.
#define KIN_DEF 6
#define KIN_KP 7
#define KIN_FN 8
#define MOD 9

#define ___ &trans
#define _x_ &none

#define LEFT_KEYS 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 46 47 48 49 50 51 60 61 62 63 64
#define RIGHT_KEYS 7 8 9 10 11 12 13 21 22 23 24 25 26 27 39 40 41 42 43 44 45 54 55 56 57 58 59 71 72 73 74 75
#define LEFT_THUMB_KEYS 35 36 52 65 66 67
#define RIGHT_THUMB_KEYS 37 38 53 68 69 70
#define THUMB_KEYS LEFT_THUMB_KEYS RIGHT_THUMB_KEYS 

// ╭────┬────┬────┬────┬────┬────┬────╮                                       ╭────┬────┬────┬────┬────┬────┬────╮
// │  0 │  1 │  2 │  3 │  4 │  5 │  6 │                                       │  7 │  8 │  9 │ 10 │ 11 │ 12 │ 13 │
// ├────┼────┼────┼────┼────┼────┼────┤                                       ├────┼────┼────┼────┼────┼────┼────┤
// │ 14 │ 15 │ 16 │ 17 │ 18 │ 19 │ 20 │                                       │ 21 │ 22 │ 23 │ 24 │ 25 │ 26 │ 27 │
// ├────┼────┼────┼────┼────┼────┼────┤       ╭────┬────╮   ╭────┬────╮       ├────┼────┼────┼────┼────┼────┼────┤
// │ 28 │ 29 │ 30 │ 31 │ 32 │ 33 │ 34 │       │ 35 │ 36 │   │ 37 │ 38 │       │ 39 │ 40 │ 41 │ 42 │ 43 │ 44 │ 45 │
// ├────┼────┼────┼────┼────┼────┼────╯  ╭────┼────┼────┤   ├────┼────┼────╮  ╰────┼────┼────┼────┼────┼────┼────┤
// │ 46 │ 47 │ 48 │ 49 │ 50 │ 51 │       │    │    │ 52 │   │ 53 │    │    │       │ 54 │ 55 │ 56 │ 57 │ 58 │ 59 │
// ├────┼────┼────┼────┼────┼────╯       │    │    ├────┤   ├────┤    │    │       ╰────┼────┼────┼────┼────┼────┤
// │ 60 │ 61 │ 62 │ 63 │ 64 │            │ 65 │ 66 │ 67 │   │ 68 │ 69 │ 70 │            │ 71 │ 72 │ 73 │ 74 │ 75 │
// ╰────┴────┴────┴────┴────╯            ╰────┴────┴────╯   ╰────┴────┴────╯            ╰────┴────┴────┴────┴────╯

#define POS_Q 15
#define POS_W 16
#define POS_E 17
#define POS_R 18

#define POS_U 23
#define POS_I 24
#define POS_O 25
#define POS_P 26

#define POS_A 29
#define POS_S 30
#define POS_D 31
#define POS_F 32
#define POS_G 33

#define POS_H 40
#define POS_J 41
#define POS_K 42
#define POS_L 43
#define POS_SEMI 44

#define POS_ENTER 66
#define POS_BKSP 69

#define DEFINE_COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = BINDINGS; \
    key-positions = KEYPOS; \
  };

#define DEFINE_SLOW_COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = BINDINGS; \
    key-positions = KEYPOS; \
    slow-release; \
  };

/// {
//    combos {
//        compatible = "zmk,combos";
//
//        DEFINE_COMBO(lshft, <&kp LSHFT>, <POS_Q POS_A>)
//        DEFINE_COMBO(lgui, <&kp LGUI>, <POS_W POS_S>)
//        DEFINE_COMBO(lalt, <&kp LALT>, <POS_E POS_D>)
//        DEFINE_COMBO(lctrl, <&kp LCTRL>, <POS_R POS_F>)
//
//        DEFINE_COMBO(rctrl, <&kp RCTRL>, <POS_U POS_J>)
//        DEFINE_COMBO(ralt, <&kp LALT>, <POS_I POS_K>) // LALT for Windows compatibility
//        DEFINE_COMBO(rgui, <&kp RGUI>, <POS_O POS_L>)
//        DEFINE_COMBO(rshft, <&kp RSHFT>, <POS_P POS_SEMI>)
//   };
//};

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO
      macro_ver: macro_ver {
        compatible = "zmk,behavior-macro";
        label = "macro_version";
        #binding-cells = <0>;
        bindings = <&kp RET>;
      };
      #endif

      mtt: mod_tap {
          compatible = "zmk,behavior-hold-tap";
          flavor = "tap-preferred";
          label = "MOD_TAP";
          #binding-cells = <2>;
          tapping-term-ms = <220>;
          quick-tap-ms = <200>;
          bindings = <&kp>, <&kp>;
      };

      mth: mod_hold {
          compatible = "zmk,behavior-hold-tap";
          flavor = "hold-preferred";
          label = "MOD_HOLD";
          #binding-cells = <2>;
          tapping-term-ms = <220>;
          bindings = <&kp>, <&kp>;
      };

      ltt: layer_tap {
          compatible = "zmk,behavior-hold-tap";
          flavor = "tap-preferred";
          label = "LAYER_TAP";
          #binding-cells = <2>;
          tapping-term-ms = <220>;
          quick-tap-ms = <200>;
          bindings = <&mo>, <&kp>;
      };

      lth: layer_hold {
          compatible = "zmk,behavior-hold-tap";
          flavor = "hold-preferred";
          label = "LAYER_HOLD";
          #binding-cells = <2>;
          tapping-term-ms = <220>;
          bindings = <&mo>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &to RKP                                                                                                     &mo MOD       &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp EQUAL
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T         &to DEFAULT                                                                                                 &to DEFAULT   &kp Y         &kp U         &kp I         &kp O         &kp P         &kp MINUS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &lth KP ESC   &kp A         &kp S         &kp D         &kp F         &kp G         &kp DEL                        &kp LCTRL     &kp LALT          &kp RGUI      &kp RCTRL                      &to RNAV      &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp SQT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B                                                      &kp HOME          &kp LALT                                                   &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHFT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp GLOBE     &kp LSHFT     &kp LGUI      &kp LALT      &kp LCTRL                                    &kp SPACE   &mth LCTRL ENTER &kp END          &kp PG_DN   &mtt LSHFT BSPC &mo NAV                                      &kp RCTRL     &kp LALT      &kp RGUI      &kp RSHFT     &kp GLOBE
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };

    rkp_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___           ___           ___                                                                                                         ___           &kp KP_NUM    &kp LPAR    &kp KP_DIVIDE &kp KP_MULTIPLY &kp RPAR      ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___           ___                                                                                                         ___           &kp CARET     &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_MINUS  ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___           ___                            ___           ___               ___           ___                            ___           &kp PERCENT   &kp KP_N4     &kp KP_N5     &kp KP_N6     &kp KP_PLUS   &kp KP_ENTER
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___                                                        ___               ___                                                        &kp EQUAL     &kp KP_N1     &kp KP_N2     &kp KP_N3     &kp KP_DOT    ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                                          ___           ___           ___               ___           ___           &kp KP_N0                                    ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };

    rnav_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___           ___           ___                                                                                                         ___           &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp INS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___           ___                                                                                                         ___           &kp K_APP     &kp LBKT      &kp EQUAL     ___           &kp RBKT      &kp BSLH
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___           ___                            ___           ___               ___           ___                            ___           &kp DEL       &kp HOME      &kp UP        ___           &kp PG_UP     &kp END
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___                                                        ___               ___                                                        ___           &kp LEFT      &kp DOWN      &kp RIGHT     &kp PG_DN     ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                                          ___           ___           ___               ___           ___           ___                                          ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };

    kp_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           &kp N0        &kp N9        &kp N8        &kp N7        &kp N6        ___                                                                                                         ___           &kp KP_NUM    &kp LPAR    &kp KP_DIVIDE &kp KP_MULTIPLY &kp RPAR      ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp P         &kp O         &kp I         &kp U         &kp Y         ___                                                                                                         ___           &kp CARET     &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_MINUS  ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp SEMI      &kp L         &kp K         &kp J         &kp H         ___                            ___           ___               ___           ___                            ___           &kp PERCENT   &kp KP_N4     &kp KP_N5     &kp KP_N6     &kp KP_PLUS   &kp KP_ENTER
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp FSLH      &kp DOT       &kp COMMA     &kp M         &kp N                                                      ___               ___                                                        &kp EQUAL     &kp KP_N1     &kp KP_N2     &kp KP_N3     &kp KP_DOT    ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                                          ___           ___           ___               ___           ___           &kp KP_N0                                    ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };

    nav_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        ___                                                                                                         ___           &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp INS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp F11        &kp F12      &kp RA(E)     &kp PSCRN     &kp INS       ___                                                                                                         ___           &kp K_APP     &kp LBKT      &kp EQUAL     &kp RA(O)     &kp RBKT      &kp BSLH
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp RA(A)     &kp RA(S)     &kp GRAVE     &kp BSPC    &kp PAUSE_BREAK ___                            ___           ___               ___           ___                            ___           &kp DEL       &kp HOME      &kp UP        &kp RA(L)     &kp PG_UP     &kp END
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp RA(Z)     &kp RA(X)     &kp RA(C)     &kp CAPS      &kp SLCK                                                   ___               ___                                                        &kp RA(N)     &kp LEFT      &kp DOWN      &kp RIGHT     &kp PG_DN     ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                                          ___          &lth FN ENTER  ___               ___           ___           ___                                          ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };

    fn_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           &kp C_BRI_DN  &kp C_BRI_UP  _x_           _x_           _x_           ___                                                                                                         ___           _x_           &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_MUTE    ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp C_VOL_DN  &kp C_VOL_UP  &kp F13       &kp F14       &kp F15       ___                                                                                                         ___           &kp F16       &kp F17       &kp F18       &kp F19       &kp F20       ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           &kp F21       &kp F22       &kp F23       &kp F24       ___           ___                            ___           ___               ___           ___                            ___           ___           ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___                                                        ___               ___                                                        ___           ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                                          ___           ___           ___               ___           ___           ___                                          ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };


    // Default Kinesis Advantage 360 Pro layers.
    kinesis_default_layer {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp EQUAL     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &tog KIN_KP                                                                                                 &mo MOD       &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp MINUS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T         _x_                                                                                                         _x_           &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSLH
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp ESC       &kp A         &kp S         &kp D         &kp F         &kp G         _x_                            &kp LCTRL     &kp LALT          &kp LGUI      &kp RCTRL                      _x_           &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp SQT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B                                                      &kp HOME          &kp PG_UP                                                  &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHFT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &mo KIN_FN    &kp GRAVE     &kp CAPS      &kp LEFT      &kp RIGHT                                    &kp BSPC      &kp DEL       &kp END           &kp PG_DN     &kp ENTER     &kp SPACE                                    &kp UP        &kp DOWN      &kp LBKT      &kp RBKT      &mo KIN_FN
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };
    kinesis_keypad {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp EQUAL     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        ___                                                                                                         &mo MOD       &kp N6        &kp KP_NUM    &kp KP_EQUAL  &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T         _x_                                                                                                         _x_           &kp Y         &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_MINUS  &kp BSLH
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp ESC       &kp A         &kp S         &kp D         &kp F         &kp G         _x_                            &kp LCTRL     &kp LALT          &kp LGUI      &kp RCTRL                      _x_           &kp H         &kp KP_N4     &kp KP_N5     &kp KP_N6     &kp KP_PLUS   &kp SQT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B                                                      &kp HOME          &kp PG_UP                                                  &kp N         &kp KP_N1     &kp KP_N2     &kp KP_N3     &kp KP_ENTER  &kp RSHFT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &mo KIN_FN    &kp GRAVE     &kp CAPS      &kp LEFT      &kp RIGHT                                    &kp BSPC      &kp DEL       &kp END           &kp PG_DN     &kp ENTER     &kp KP_N0                                    &kp UP        &kp DOWN      &kp KP_DOT    &kp RBKT      &mo KIN_FN
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };
    kinesis_fn {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6        &tog KIN_KP                                                                                                 &mo MOD       &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___           _x_                                                                                                         _x_           ___           ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___           _x_                            ___           ___               ___           ___                            _x_           ___           ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___           ___                                                        ___               ___                                                        ___           ___           ___           ___           ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             ___           ___           ___           ___           ___                                          ___           ___           ___               ___           ___           ___                                          ___           ___           ___           ___           ___
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };
    mod {
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                                                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             _x_           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  _x_                                                                                                         ___           _x_           _x_           _x_           _x_           _x_           _x_
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                                                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             _x_           _x_           _x_           _x_           _x_           _x_           &bootloader                                                                                                 &bootloader   _x_           _x_           _x_           _x_           _x_           _x_
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                ╭─────────────┬─────────────╮   ╭─────────────┬─────────────╮                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             _x_           _x_           _x_           &to DEFAULT   _x_           _x_           _x_                            _x_           _x_               &bt BT_CLR    _x_                  &rgb_ug RGB_MEFS_CMD 5  _x_           _x_           &to KIN_DEF   _x_           _x_           _x_
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             _x_           _x_           _x_           _x_           &macro_ver    _x_                                                        _x_               _x_                                                        _x_           _x_           _x_           _x_           _x_           _x_
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                │             │             ├─────────────┤   ├─────────────┤             │             │                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             _x_           _x_           _x_           _x_           _x_                                          _x_           _x_           _x_               _x_           &bl BL_TOG    &rgb_ug RGB_TOG                              &bl BL_INC    &bl BL_DEC    _x_           _x_           _x_
        // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯                              ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
      >;
    };
  };
};
